*.exe
*.pdb
*.ttf
*.log
*.exp
*.ilk
*.lib
*.wat
*.dll
*.so
*.ttc
*.otf
*.png
*.paths
.git
src/input_tests
nimcache
nimcache*
_temp
/nev
nev
themes/**
cpp_test
.vs
config.json
options.json
temp
int/*.map
**/htmldocs/**/*.idx
*.code-workspace
nev.js
languages/*.wasm
node_modules/**
GithubAccessToken
nimble.develop
nimble.paths
testresults
tests/**/*.js
release_*
flamegraph*
perf.data*
scripting/nim/lib
casts
nim_std

*.nev-session

/nev*
ue_clang_tool

loc.csv
count_loc.ps1
a.html

# GraphViz files
*.dot

rust_test
/target

vscode-lsp-log.json

myNimCache
csources
csources_v2
**/treesitter/lib
C:/Users/nimao/.nimble/pkgs2/nim-2.1.1-06a4866c223f9a92169362ebc9ee247df1bcbd21
C:/Users/nimao/.nimble/pkgs2/nim-2.1.1-176b5408d81c16446680d7ce56d1b7b0d23f9a6d
C:/Users/nimao/.nimble/pkgs2/nim-2.1.1-ee369ca2ef4fd48e55732c09c5f8b67a4a22daa4

fonts/openmoji-svg-color

test.nim
text_buffer.nim

config/lsp.json
config/lsp-linux.json
compile_commands.json
compile_arguments.txt
lldb-dap-log.txt
nimhelp.txt
log.txt
.clang-ignore
tools/uht.nim
nev_linkerArgs.txt
config/wasm/callback_test_plugin.wasm
config/callback_test_plugin.nim

#
config/custom.nim
config/callback_test_plugin.wasm
tools/collect_highlight_captures.nims
big.txt
bigger.txt
/ast*
.nev/keybindings.json
.nev/settings-windows.json
.nev/settings-windows-gui.json
.nev/settings-linux.json
wasm
languages/tree-sitter-*
languages/**/*.scm
