*.exe
*.pdb
*.ttf
*.log
*.exp
*.ilk
*.lib
*.wasm
*.wat
src/input_tests
nimcache
/ast
absytree
themes/**
cpp_test
.vs
config.json
options.json
temp
int/*.map
**/htmldocs/**/*.idx
*.code-workspace
ast.js
languages/*.wasm
node_modules/**
GithubAccessToken
nimble.develop
nimble.paths

loc.csv
count_loc.ps1
todo.md
a.html