############# begin Atlas config section ##########
--noNimblePath
--path:"deps/vmath/src"
--path:"deps/pixie/src"
--path:"deps/chroma/src"
--path:"deps/winim"
--path:"deps/fusion/src"
--path:"deps/nim-regex/src"
--path:"deps/glob/src"
--path:"deps/patty"
--path:"deps/npeg/src"
--path:"deps/nim-stew"
--path:"deps/nim-results"
--path:"deps/nim-chronos"
--path:"deps/malebolgia/src"
--path:"deps/fsnotify/src"
--path:"deps/windy/src"
--path:"deps/lrucache.nim/src"
--path:"deps/boxy/src"
--path:"deps/nimtreesitter-api"
--path:"deps/nimwasmtime/src"
--path:"deps/nimsumtree/src"
--path:"deps/asynctools"
--path:"deps/zippy/src"
--path:"deps/libssh2.nim"
--path:"deps/ssh2.nim/src"
--path:"deps/nimtreesitter"
--path:"deps/nuigi/src"
--path:"deps/flatty/src"
--path:"deps/nimsimd/src"
--path:"deps/bumpy/src"
--path:"deps/crunchy/src"
--path:"deps/unicodedb/src"
--path:"deps/unittest2"
--path:"deps/bearssl"
--path:"deps/httputils"
--path:"deps/bitty/src"
--path:"deps/opengl/src"
--path:"deps/urlly/src"
--path:"deps/ws/src"
--path:"deps/shady/src"
############# end Atlas config section   ##########
#